*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --subdued-color: #777;
  --text-color: #555;
}

body {
  background-color: #f3f3f3;
  color: var(--text-color);
}

.avatar {
  position: relative;
}

.avatar::after {
  content: "";
  position: absolute;
  grid-column: 1/2;
  background-color: var(--subdued-color);
  width: 0.125rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  z-index: -1;
}

.avatar>img {
  width: 100%;
  border-radius: 100%;
  border: 2px solid white;
}

.notification-grid {
  display: grid;
  grid-template-columns: 3.125rem 1fr;
  grid-auto-rows: auto;
  gap: 1rem;
}

/* .notification-grid::before {
  content: "";
  position: absolute;
  grid-column: 1/2;
  background-color: var(--subdued-color);
  width: 0.125rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  z-index: -1;
} */

.notification-card {
  background-color: white;
  border: 1px solid var(--subdued-color);
  border-radius: .25rem;
  padding: .75rem;
}

.notification-header {
  display: flex;
  gap: .5rem;
}

.notification-title {
  flex-grow: 1;
  font-size: 1.1rem;
}

.notification-time {
  color: var(--subdued-color);
}

.notification-content {
  background-color: hsl(0, 0%, 94%);
  margin-top: .5rem;
  padding: .25rem;
  border-radius: .25rem;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.icon>path {
  fill: var(--subdued-color);
}